/* Esercizio 1 */
.ex-1-square:hover {
    transition: all 1s linear 0.2s;
    background-color: red;
}
/* Esercizio 2 */
.ex-2-square:active {
    transition: all 1s ease-in-out 0.2s;
    width:100%;
}
/* Esercizio 3 */
.ex-3-square:hover {
    transition: all 0.5s linear 0.2s;
    border-radius: 50%;
}
/* Esercizio 4 */
.ex-4-square:hover {
    transition: all 0.5s linear 0.2s;
    opacity: 0;
}
/* Esercizio 5 */
.ex-5-square:hover {
    transition: all 1s linear 0.2s;
    transform: scale(2);
}
/* Esercizio 6 */
.ex-6-img:hover {
    transition: all 0.2s linear 0s;
    filter: grayscale(1);
}
/* Esercizio 7 */
.ex-7-img:hover {
    transition: all 2s ease-in-out 0s;
    filter: grayscale(0.5) sepia(0.5);
}
/* Esercizio 8 */
.ex-8-img:hover {
    transition: all 1s linear 0s;
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 5%;
}
/* Esercizio 9 */
.ex-9-img:hover {
    transition: all 1s linear 0s;
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 7%;
    transform: scale(1.5);
}
/* Esercizio 10 */

/* Esercizio 11 */

/* Esercizio 12 */

/* Esercizio 13 */