/* Esercizio 1 */
.ex-1-square:hover {
    transition: all 1s linear 0.2s;
    background-color: red;
}
/* Esercizio 2 */
.ex-2-square:active {
    transition: all 1s ease-in-out 0.2s;
    width:100%;
}
/* Esercizio 3 */
.ex-3-square:hover {
    transition: all 0.5s linear 0.2s;
    border-radius: 50%;
}
/* Esercizio 4 */
.ex-4-square:hover {
    transition: all 0.5s linear 0.2s;
    opacity: 0;
}
/* Esercizio 5 */
.ex-5-square:hover {
    transition: all 1s linear 0.2s;
    transform: scale(2);
}
/* Esercizio 6 */

/* Esercizio 7 */

/* Esercizio 8 */

/* Esercizio 9 */

/* Esercizio 10 */

/* Esercizio 11 */

/* Esercizio 12 */

/* Esercizio 13 */